# java stuff
*.class
build/*
build
/build/
AWG/core/build/*

# mac crap
.DS_Store

# Intellij
.idea/
out
*.iml
*.ipr
*.iws


#Gradle stuff
.gradle
gradle


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file 
!gradle-wrapper.jar

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
